<!DOCTYPE html>
<html lang="en">
  <body>
    <center>
      <h1>Welcome to the Vulnerability Searcher!</h1>
      <% @arr.each do |item| %>
      	<% item %>
      <% end %>
    </center>
  </body>
</html>
