<h1>Welcome to the Vulnerability Searcher.</h1>
<table border="1" style="width:100%">
  <tr>
    <td>CVE-2015-6810!?!?</td>
    <td>Cross-site scripting (XSS) vulnerability in Invision Power Services IPS Community Suite (aka Invision Power Board, IPB, or Power Board) 4.x before 4.0.12.1 allows remote authenticated users to inject arbitrary web script or HTML via the event_location[address] array parameter to calendar/submit/.</td> 
  </tr>
  <tr>
    <td>CVE-2015-6808</td>
    <td>Cross-site scripting (XSS) vulnerability in the Spotlight module 7.x-1.x before 7.x-1.5 for Drupal allows remote authenticated users with certain permissions to inject arbitrary web script or HTML via a node title.</td> 
  </tr>
</table>
