<h1>Welcome to the Vulnerability Searcher.</h1>
<table border="1" style="width:100%">
  <%= Vuls.find_each do |vul|  %>
  <tr>
    <td><%= vul.name %></td>
    <td><%= vul.description %></td>
  </tr>
  <% end %>
</table>
