<center>
<H1>Table of Known Vulnerabilities</H1>
<table border="1" style="width:100%">
  <%= Vuls.find_each do |vul|  %>
  <tr>
    <td><a href=<%= vul.id %>><%= vul.name %></a></td>
    <td><%= vul.description %></td>
  </tr>
  <% end %>
</table>
</center>
